.btn-margin{
    margin-top: 10px;
}
.tbl-td-1{
    font-weight: bold;
    background-color: #888;
    color: #EEE;
}
.tbl-td-2{
    font-weight: bold;
    background-color: #737373;
    color: #EEE;
    text-align: center;
}

