.main-sid li{
    list-style: none;
    font-weight: bold;
    /*float: left;*/
}
.main-sid a{
    /*color: #35DAFA;*/
    text-decoration: none;
    display: block;
    padding: 5px 0px 5px 10px;
    /*border: 1px solid gray;*/
    /*background-color: #269abc;*/ 
}
.main-sid-ul .has-sub a.a{
    background-color: #737373;
    border-bottom: 1px solid white;
    text-decoration: none;
    color: #EEE;
    
}
.main-sid-ul .has-sub a.a:hover{
    background-color: #EEE;
    border-bottom: 1px solid white;
    color: #737373;
    text-decoration: none;
}
.has-sub ul li a{
    background-color: #aaa;
    border-bottom: 1px solid white;
    text-decoration: none;
    color: white;
}

.has-sub ul li a:hover{
    background-color: #EEE;
    border-bottom: 1px solid white;
    color: #737373;
    text-decoration: none;
}
.main-sid-ul ul{
    display: none
}
.main-sid-ul li.tap ul{
    display: block;
}
.main-sid .sub-arrow:after{
    content: '\203A';
    float: right;
    margin-right: 20px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
.main-sid li.tap .sub-arrow:after{
   content: '\2039';
    float: right;
    margin-right: 20px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg); 
}
.main-sid-ul ul a:before{
    content: '\203A';
    padding-right: 10px;
}
